@import url('https://fonts.googleapis.com/css?family=Open+Sans:');
.tbutton-size {
  display: flex;
  flex-shrink: 0;
  justify-content: center; }

.tbutton-style {
  border-radius: 8px;
  background: rgb(25, 149, 173);
  flex-shrink: 0;
  width: 360px;
  height: 60px;
  color: #FFFFFF;
  padding: 20px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.5px;
  border: 1px solid #41d5f2; }


.transactions-transactions-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: rgb(255, 255, 255);
    min-height: 100vh;
}

.transactions-0 {
    width: 0px;
    flex-shrink: 0;
    flex-grow: 0.09497206703910614;
    flex-basis: 0px;
}

.transactions-1 {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}

.transactions-zip-1 {
    width: 676px;
    flex-shrink: 0;
    font-family: "Open Sans", sans-serif;
    color: rgb(25, 149, 173);
    font-size: 110px;
    line-height: 125px;
    letter-spacing: 1px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
}

.transactions-2 {
    width: 0px;
    flex-shrink: 0;
    flex-grow: 0.03910614525139665;
    flex-basis: 0px;
}

.transactions-3 {
    display: flex;
    flex-shrink: 0;
}

.transactions-3-0 {
    height: 0px;
    flex-grow: 0.49943117178612056;
    flex-basis: 0px;
}

.transactions-userpic-1 {
    width: 145px;
    height: 135px;
    flex-shrink: 0;
    border-radius: 100px;
    border-width: 0px;
}

.transactions-3-2 {
    height: 0px;
    flex-grow: 0.5005688282138794;
    flex-basis: 0px;
}

.transactions-4 {
    display: flex;
    flex-shrink: 0;
    margin-top: 29px;
}

.transactions-4-0 {
    height: 0px;
    flex-grow: 0.49938800489596086;
    flex-basis: 0px;
}

.transactions-whitney_griffith_-7 {
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(25, 149, 173);
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
    padding-right: 0.765625px;
}

.transactions-4-2 {
    height: 0px;
    flex-grow: 0.5006119951040392;
    flex-basis: 0px;
}

.transactions-5 {
    display: flex;
    flex-shrink: 0;
    margin-top: 28px;
}

.transactions-5-0 {
    height: 0px;
    flex-grow: 0.4994511525795829;
    flex-basis: 0px;
}

.transactions-_impactwhit_-8 {
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(25, 149, 173);
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
    padding-right: 0.359375px;
}

.transactions-5-2 {
    height: 0px;
    flex-grow: 0.5005488474204172;
    flex-basis: 0px;
}

.transactions-6 {
    display: flex;
    flex-shrink: 0;
    margin-top: 31px;
}

.transactions-6-0 {
    height: 0px;
    flex-grow: 0.0009765625;
    flex-basis: 0px;
}

.transactions-transaction-history-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 0.9970703125;
    flex-basis: 0px;
    min-height: fit-content;
    padding-top: 8px;
    padding-bottom: 14px;
    background: rgb(255, 255, 255);
}

.transactions-6-1-0 {
    display: flex;
    flex-shrink: 0;
    padding-left: 23px;
}

.transactions-image_3 {
    width: 74px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 100px;
    border-width: 0px;
}

.transactions-6-1-0-1 {
    height: 0px;
    flex-grow: 0.07363420427553444;
    flex-basis: 0px;
}

.transactions-6-1-0-2 {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 14px;
}

.transactions-6-1-0-2-0 {
    display: flex;
    flex-shrink: 0;
}

.transactions-whitney_griffith_-70 {
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(4, 4, 4);
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
    padding-right: 0.765625px;
}

.transactions-6-1-0-3 {
    height: 0px;
    flex-grow: 0.166270783847981;
    flex-basis: 0px;
}

.transactions-6-1-0-4 {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 14px;
}

.transactions-6-1-0-4-0 {
    display: flex;
    flex-shrink: 0;
}

.transactions-6-1-0-4-0-0 {
    width: 153px;
    height: 34px;
    flex-shrink: 0;
    position: relative;
}

.transactions-description_-6 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(4, 4, 4);
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    word-wrap: break-word;
    padding-right: 0.203125px;
}

.transactions-rectangle_2 {
    width: 153px;
    height: 34px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.transactions-6-1-0-5 {
    height: 0px;
    flex-grow: 0.4584323040380047;
    flex-basis: 0px;
}

.transactions-6-1-0-6 {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 14px;
}

.transactions-6-1-0-6-0 {
    display: flex;
    flex-shrink: 0;
}

.transactions-today_-2 {
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(4, 4, 4);
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    word-wrap: break-word;
    padding-right: 0.984375px;
}

.transactions-6-1-0-7 {
    height: 0px;
    flex-grow: 0.15914489311163896;
    flex-basis: 0px;
}

.transactions-6-1-0-8 {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 14px;
}

.transactions-6-1-0-8-0 {
    display: flex;
    flex-shrink: 0;
}

.transactions--_3 {
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(4, 4, 4);
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    word-wrap: break-word;
    padding-right: 0.28125px;
}

.transactions-6-1-0-9 {
    height: 0px;
    flex-grow: 0.14251781472684086;
    flex-basis: 0px;
}

.transactions-6-2 {
    height: 0px;
    flex-grow: 0.001953125;
    flex-basis: 0px;
}

.transactions-7 {
    display: flex;
    flex-shrink: 0;
    margin-top: 19px;
}

.transactions-7-0 {
    height: 0px;
    flex-grow: 0.0009765625;
    flex-basis: 0px;
}

.transactions-transaction-history-21 {
    display: flex;
    flex-direction: column;
    flex-grow: 0.9970703125;
    flex-basis: 0px;
    min-height: fit-content;
    padding-top: 8px;
    padding-bottom: 14px;
    background: rgb(255, 255, 255);
}

.transactions-7-1-0 {
    display: flex;
    flex-shrink: 0;
    padding-left: 25px;
}

.transactions-image_3-1 {
    width: 74px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 100px;
    border-width: 0px;
}

.transactions-7-1-0-1 {
    height: 0px;
    flex-grow: 0.07345971563981042;
    flex-basis: 0px;
}

.transactions-7-1-0-2 {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 14px;
}

.transactions-7-1-0-2-0 {
    display: flex;
    flex-shrink: 0;
}

.transactions-whitney_griffith_-0 {
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(4, 4, 4);
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
    padding-right: 0.765625px;
}

.transactions-7-1-0-3 {
    height: 0px;
    flex-grow: 0.16587677725118483;
    flex-basis: 0px;
}

.transactions-7-1-0-4 {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 14px;
}

.transactions-7-1-0-4-0 {
    display: flex;
    flex-shrink: 0;
}

.transactions-7-1-0-4-0-0 {
    width: 153px;
    height: 34px;
    flex-shrink: 0;
    position: relative;
}

.transactions-description_-9 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(4, 4, 4);
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    word-wrap: break-word;
    padding-right: 0.203125px;
}

.transactions-rectangle_2-0 {
    width: 153px;
    height: 34px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.transactions-7-1-0-5 {
    height: 0px;
    flex-grow: 0.45734597156398105;
    flex-basis: 0px;
}

.transactions-7-1-0-6 {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 14px;
}

.transactions-7-1-0-6-0 {
    display: flex;
    flex-shrink: 0;
}

.transactions-today_-7 {
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(4, 4, 4);
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    word-wrap: break-word;
    padding-right: 0.984375px;
}

.transactions-7-1-0-7 {
    height: 0px;
    flex-grow: 0.15876777251184834;
    flex-basis: 0px;
}

.transactions-7-1-0-8 {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 14px;
}

.transactions-7-1-0-8-0 {
    display: flex;
    flex-shrink: 0;
}

.transactions-_3 {
    flex-shrink: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:red;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    word-wrap: break-word;
    padding-right: 0.609375px;
}

.transactions-7-1-0-9 {
    height: 0px;
    flex-grow: 0.14454976303317535;
    flex-basis: 0px;
}

.transactions-7-2 {
    height: 0px;
    flex-grow: 0.001953125;
    flex-basis: 0px;
}

.transactions-8 {
    width: 0px;
    flex-shrink: 0;
    flex-grow: 0.7625698324022346;
    flex-basis: 0px;
}

.transactions-9 {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}

.transactions-rectangle-3 {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 16px;
    border-radius: 8px;
    background: rgb(25, 149, 173);
}

.transactions-9-0-0 {
    display: flex;
    flex-shrink: 0;
    padding-left: 117px;
    padding-right: 118px;
}

.transactions-sign_in-0 {
    width: 125px;
    flex-shrink: 0;
    font-family: "Open Sans", sans-serif;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
}

.transactions-10 {
    width: 0px;
    flex-shrink: 0;
    flex-grow: 0.10335195530726257;
    flex-basis: 0px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}