@import url("https://fonts.googleapis.com/css?family=Open+Sans:");

.button-size {
  display: flex;
  flex-shrink: 0;
  justify-content: center; 
}

.button-style {
    border-radius: 8px;
    background: #90EE90;
    flex-shrink: 0;
    width: 360px;
    height: 60px;

    color: #FFFFFF;
    padding: 20px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0.5px;
    border: 1px solid #90EE90;
}

.goButton-style {
    border-radius: 8px;
    background: transparent;
    flex-shrink: 0;
    display: inline-block;
    border: 0px transparent;
    width: 251px;

    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0px;
    word-wrap: break-word; 
}


.login-login-7 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #4AC948	;
  min-height: 100vh; }

.login-0 {
  width: 0px;
  flex-shrink: 0;
  flex-grow: 0.3784530386740331;
  flex-basis: 0px; }

.login-1 {
  display: flex;
  flex-shrink: 0; }

.login-1-0 {
  height: 0px;
  flex-grow: 0.4993924665856622;
  flex-basis: 0px; }

.login-sign_in_to_seampay_-5 {
  width: 201px;
  flex-shrink: 0;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 0px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  word-wrap: break-word; }

.login-1-2 {
  height: 0px;
  flex-grow: 0.5006075334143378;
  flex-basis: 0px; }

.login-2 {
  width: 0px;
  flex-shrink: 0;
  flex-grow: 0.10497237569060773;
  flex-basis: 0px; }

.login-3 {
  display: flex;
  flex-shrink: 0;
  justify-content: center; }

.login-username-2 {
  width: 360px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  word-wrap: normal;
  padding: 6px 12px;
  border: 1px solid #cccccc; }

.login-4 {
  width: 0px;
  flex-shrink: 0;
  flex-grow: 0.03314917127071823;
  flex-basis: 0px; }

.login-5 {
  display: flex;
  flex-shrink: 0;
  justify-content: center; }

.login-password-3 {
  width: 360px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  word-wrap: normal;
  padding: 6px 12px;
  border: 1px solid #cccccc; }

.login-6 {
  width: 0px;
  flex-shrink: 0;
  flex-grow: 0.022099447513812154;
  flex-basis: 0px; }

.login-7 {
  display: flex;
  flex-shrink: 0;
  justify-content: center; }

.login-rectangle-4 {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 19px;
  border-radius: 8px;
  background:  #90EE90; }

.login-7-0-0 {
  display: flex;
  flex-shrink: 0;
  padding-left: 62px;
  padding-right: 76px; }

.login-request_sign_in_code-9 {
  width: 222px;
  flex-shrink: 0;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  word-wrap: break-word; }

.login-8 {
  width: 0px;
  flex-shrink: 0;
  flex-grow: 0.0925414364640884;
  flex-basis: 0px; }

.login-9 {
  display: flex;
  flex-shrink: 0; }

.login-9-0 {
  height: 0px;
  flex-grow: 0.49935316946959896;
  flex-basis: 0px; }

.login-9-2 {
  height: 0px;
  flex-grow: 0.500646830530401;
  flex-basis: 0px; }

.login-10 {
  width: 0px;
  flex-shrink: 0;
  flex-grow: 0.3687845303867403;
  flex-basis: 0px; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

button:hover {
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit; }

.pd-onhover-parent > .pd-onhover {
  display: none; }

.pd-onhover-parent:hover > * {
  display: none; }

.pd-onhover-parent:hover > .pd-onhover {
  display: flex; }

.pd-onactive-parent > .pd-onactive {
  display: none; }

.pd-onactive-parent:active > * {
  display: none; }

.pd-onactive-parent:active > .pd-onactive {
  display: flex; }

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
  color: transparent; }